name: Deploy bot

on: push

jobs:
    run-tests:
        runs-on: ubuntu-latest
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true
        steps:
            - name: install sshpass
              run: sudo apt update -y && sudo apt-get install -y sshpass

            - name: ssh reset bot
              run: sshpass -p "${{ secrets.SSH_PASSWORD }}" ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_DOMAIN }} /home/davidtchilian/resetbot.sh &